[submodule "submodules/libossia"]
	path = submodules/libossia
	url = https://github.com/OSSIA/libossia.git
[submodule "submodules/supercollider"]
	path = submodules/supercollider
	url = https://github.com/supercollider/supercollider.git
[submodule "libossia"]
	path = libossia
	url = /home/scrime/Documents/dev/ossia-supercollider/submodules/libossia/
[submodule "supercollider"]
	path = supercollider
	url = /home/scrime/Documents/dev/ossia-supercollider/submodules/supercollider/
